// vars
$fonts: '../fonts/';
$images: '../images/';

// fonts
$Klavika: 'Klavika', sans-serif;
$MyriadProR: 'MyriadProR', sans-serif;
$MyriadProSB: 'MyriadProSB', sans-serif;
$ZurichB: 'ZurichB', sans-serif;
$ZurichR: 'ZurichR', sans-serif;

$container: 990px;
$mobile-md: 767px;
$tablet: 991px;
$mobile-sm: 550px;
$mobile: 320px;

// font settings
$font-size-base: 16px;
$font-size-large: 20px;
$text-logo-a-font-family: 34px;
$text-logo-a-font-size-large: 34px;
$text-logo-small-font-family: 11px;
$text-logo-small-font-size-large: 12px;
$main-nav-p-font-family: 12px;
$main-nav-p-font-size-large: 16px;
$main-nav-a-font-family: 20px;
$main-nav-a-font-size-large: 24px;
$menu-a-font-family: 13px;
$menu-a-font-size-large: 18px;
$navigation-a-font-family: 15px;
$navigation-a-font-size-large: 18px;
$breadcrumb-item-font-family: 12px;
$breadcrumb-item-font-size-large: 16px;
$baner-h2-font-family: 22px;
$baner-h2-font-size-large: 26px;
$baner-h1-font-family: 32px;
$baner-h1-font-size-large: 36px;
$baner-p-font-family: 12px;
$baner-p-font-size-large: 18px;
$baner-a-font-family: 12px;
$baner-a-font-size-large: 16px;
$slick-dots-button-font-family: 12px;
$slick-dots-button-font-size-large: 16px;
$slick-dots-button-before-font-size-large: 26px;
$body-title-h1-font-family: 26px;
$body-title-h1-font-size-large: 30px;
$body-title-p-font-family: 12px;
$body-title-p-font-size-large: 16px;
$tabs-font-family: 18px;
$tabs-font-size-large: 22px;
$tab-content-h2-font-family: 14px;
$tab-content-h2-font-size-large: 18px;
$tab-content-p-font-family: 12px;
$tab-content-p-font-size-large: 18px;
$sitebar-h2-font-family: 14px;
$sitebar-h2-font-size-large: 18px;
$sitebar-span-font-family: 12px;
$sitebar-span-font-size-large: 16px;
$customSelect-font-family: 11px;
$customSelect-font-size-large: 16px;
$button-font-family: 15px;
$button-font-size-large: 18px;
$form-control-font-family: 11px;
$form-control-font-size-large: 16px;
$news-item-font-family: 12px;
$news-item-font-size-large: 18px;
$fbar-h1-font-family: 16px;
$fbar-h1-font-size-large: 20px;
$fbar-h2-font-family: 14px;
$fbar-h2-font-size-large: 18px;
$fbar-a-font-family: 12px;
$fbar-a-font-size-large: 16px;
$fbar-span-font-family: 12px;
$fbar-span-font-size-large: 16px;
$fbar-button-font-family: 14px;
$fbar-button-font-size-large: 18px;
$footer-font-family: 11px;
$footer-font-size-large: 16px;



// opacity
$hover-opacity: 0.8;


// colors
$white: #fff;
$black: #000;
$grey: #444;
$dark-grey: #333;

$sitebar-bg: #f4f2ec;
$fbar-bg: #f4f2ec;

